/*Sidebar*/
.sidebar h1 {
    font-size: 1.8rem;
    color: #37353E;
    margin-top: 10px;
}

.sidebar-group-heading  {
    color: #6b7280;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-project-sidebar-btn {
    visibility: hidden;
    background: none;
    color: #9ca3af;
    width: 30px;
    padding: 0;
    height: 30px;
    font-weight: 600;
    margin-right: 5px;
    border: none;
}

.add-project-sidebar-btn:hover {
    background: none;
}

.tasks-sidebar {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-nav-item {
    color: #1f2937;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.task-nav-item span {
    pointer-events: none;
}

.task-nav-count {
    color: #2563eb;
    background-color: #dbeafe;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
    margin-left: auto;
}

.projects-sidebar {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-nav-item {
    color: #1f2937;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-nav-item > .project-colour-text-div {
    margin-left: 8px;
    gap: 15px;
}


.project-colour-text-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    pointer-events: none;
}

.project-colour-text-div span {
    pointer-events: none;
}

.project-colour {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.project-nav-count {
    color: #2563eb;
    background-color: #dbeafe;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
}

.active {
    color: rgb(37 99 235);
    background-color: rgb(239 246 255);
}

.add-project-div {
    padding: 15px;
    background-color: #f9fafb;
    border-radius: 5px;
    margin-top: -15px;
}

.add-project-colour-input-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.add-project-name-input {
    width: 70%;
}

.add-project-colour-input {
    width: 30%;
}

.add-project-button-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.add-project-button-div button {
    padding: 5px 10px 5px 10px;
    width: 50%;
}

.add-project-cancel-btn {
    background-color: #374151;
}