/*Main container*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9fafb;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    padding: 24px;
    min-width: 250px;
    height: 100vh;
    overflow: scroll;
    background-color: #ffffff;
    color: #1f2937;
    border-right: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.todo-app {
    padding: 30px;
    padding-top: 40px;
    width: 100%;
    background-color: #f9fafb;
    overflow: scroll;
}

button {
    border: 1px solid #2563eb;
    color: white;
    padding: 10px 25px 10px 25px;
    background-color: #2563eb;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 15px;
}

button:hover {
    background-color: #0868ac;
}

.btn-secondary {
    background: none;
    color: #6b7280;
    border: #6b7280 1px solid;
}

.btn-secondary:hover {
    background-color: #9ca3af;
    color: white;
}

/*task app*/
.todo-heading {
    /*display: flex;*/
    flex-direction: row;
    color: #37353E;
    font-size: 0.8rem;
    display: none;
}

.todo-title {
    color: #37353E;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.todo-title i {
    margin-left: 10px;
    width: 10px;
    font-size: 1.2rem;
    bottom: -3px;
    position: relative;
    cursor: pointer;
}

.task-add-div {
    margin-bottom: 20px;
}

.todo-list {
   display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-message {
    color: #6b7280;
    text-align: center;
    font-size: 1.2rem;
}

/*task card*/
.todo-card {
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    color: #374151;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    cursor: pointer;
}

.completed {
    /*text-decoration: line-through;*/
}

.todo-completed-div {
    padding: 10px;
}

.todo-completed {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #B4B4B4;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    accent-color: #22c55e;
    margin: 0;
    color-scheme: dark;
}

.task-card-main-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    /*cursor: pointer;*/
}

.task-card-main-div .project-colour {
    width: 10px;
    height: 10px;
}

.task-card-main-div .project-colour-text-div {
    font-size: 0.8rem;
    gap: 5px;
    color: #6b7280;
}

.project-colour-text-div div:before {
    content: "/";
    color: #6b7280;
    /*border-left: 1px solid black;*/
    padding-right: 5px;
}

.project-colour-text-div div:first-child:before, .project-colour-text-div div:nth-child(2):before {
    content: unset;
    border-left: none;
    padding-left: 0;
}



/*.completed > * {*/
/*    text-decoration: line-through;*/
/*}*/

.todo-id {
    color: #979393;
}

.task-title {
    font-size: 1rem;
    background: none;
    border: none;
    color: #374151;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.todo-label {
    font-size: 1rem;
    margin-right: 5px;
    background-color: #e8e8e8;
    padding: 5px;
    border-radius: 5px;
}

.task-due-date {
    background: none;
    border: none;
    color: #6b7280;
    font-size: 0.8rem;
    /*align-self: self-start;*/
}

.todo-priority.high {
    color: red;
}

.todo-priority.med {
    color: orange;
}

.todo-priority.low {
    color: green;
}

#todo-project {
    /*width: 75px;*/
    background: none;
    border: none;
    color: #374151;
    font-size: 1rem;
}

.todo-labels {
    /*width: 150px;*/
}

.delete-button {
    background: none;
    color: #9ca3af;
    width: 30px;
    padding: 0;
    height: 30px;
    border: none;
    margin-right: 0;
}

.delete-button:hover {
    background: none;
}