/*Main container*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9fafb;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    padding: 24px;
    min-width: 250px;
    height: 100vh;
    overflow: scroll;
    background-color: #ffffff;
    color: #1f2937;
    border-right: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.todo-app {
    padding: 30px;
    padding-top: 40px;
    width: 100%;
    background-color: #f9fafb;
    overflow: scroll;
}

button {
    border: none;
    color: white;
    padding: 10px 25px 10px 25px;
    background-color: #2563eb;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0868ac;
}

/*Sidebar*/
.sidebar h1 {
    font-size: 1.8rem;
    color: #1f2937;
    margin-top: 10px;
}

.sidebar-group-heading  {
    color: #6b7280;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-project-sidebar-btn {
    background: none;
    color: #9ca3af;
    width: 30px;
    padding: 0;
    height: 30px;
    font-weight: 600;
    margin-right: 5px;
}

.add-project-sidebar-btn:hover {
    background: none;
}

.tasks-sidebar {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-nav-item {
    color: #1f2937;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-nav-item span {
    pointer-events: none;
}

.task-nav-count {
    color: #2563eb;
    background-color: #dbeafe;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
}

.projects-sidebar {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-nav-item {
    color: #1f2937;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-colour-text-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    pointer-events: none;
}

.project-colour-text-div span {
    pointer-events: none;
}

.project-colour {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.project-nav-count {
    color: #2563eb;
    background-color: #dbeafe;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
}

.active {
    color: rgb(37 99 235);
    background-color: rgb(239 246 255);
}

.add-project-div {
    padding: 15px;
    background-color: #f9fafb;
    border-radius: 5px;
    margin-top: -15px;
}

.add-project-colour-input-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.add-project-name-input {
    width: 70%;
}

.add-project-colour-input {
    width: 30%;
}

.add-project-button-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.add-project-button-div button {
    padding: 5px 10px 5px 10px;
    width: 50%;
}

.add-project-cancel-btn {
    background-color: #374151;
}

/*task app*/
.todo-heading {
    /*display: flex;*/
    flex-direction: row;
    color: #37353E;
    font-size: 0.8rem;
    display: none;
}

.todo-title {
    color: #37353E;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.task-add-div {
    margin-bottom: 20px;
}

.todo-list {
   display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-message {
    color: #6b7280;
    text-align: center;
    font-size: 1.2rem;
}

/*task card*/
.todo-card {
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    color: #374151;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
}

.completed {
    /*text-decoration: line-through;*/
}

.todo-completed {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #B4B4B4;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    accent-color: #22c55e;
    margin: 0;
    color-scheme: dark;
}

.task-card-main-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.task-card-main-div .project-colour {
    width: 8px;
    height: 8px;
}

.task-card-main-div .project-colour-text-div {
    font-size: 0.8rem;
    gap: 5px;
    color: #6b7280;
}

/*.completed > * {*/
/*    text-decoration: line-through;*/
/*}*/

.todo-id {
    color: #979393;
}

.task-title {
    font-size: 1rem;
    background: none;
    border: none;
    color: #374151;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*min-width: 500px;*/
}

.todo-label {
    font-size: 1rem;
    margin-right: 5px;
    background-color: #e8e8e8;
    padding: 5px;
    border-radius: 5px;
}

.task-due-date {
    background: none;
    border: none;
    color: #374151;
    font-size: 0.8rem;
    /*align-self: self-start;*/
}

.todo-priority {
    /*width: 50px;*/
}

.todo-priority.high {
    color: red;
}

.todo-priority.med {
    color: orange;
}

.todo-priority.low {
    color: green;
}

#todo-project {
    /*width: 75px;*/
    background: none;
    border: none;
    color: #374151;
    font-size: 1rem;
}

.todo-labels {
    /*width: 150px;*/
}

.delete-button {
    background: none;
    color: #9ca3af;
    width: 30px;
    padding: 0;
    height: 30px;
}

.delete-button:hover {
    background: none;
}

/*Task form*/
dialog {
    border: none;
    width: 50%;
    min-width: 400px;
}

.add-todo-form {
    display: grid;
}

.add-todo-form > input {
    margin-bottom: 10px;
}

.add-todo-form > fieldset {
    margin-bottom: 10px;
}

.add-todo-form > button {
    margin-bottom: 10px;
}

.add-todo-form > select {
    margin-bottom: 10px;
}