/*Main container*/
body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    padding: 10px;
    padding-left: 20px;
    min-width: 200px;
    height: 100vh;
    background-color: #37353E;
}

.todo-app {
    padding: 10px;
    width: 100%;
    background-color: #e8e8e8;
}

button {
    border: none;
    color: white;
    padding: 10px 25px 10px 25px;
    background-color: #065084;
    cursor: pointer;
}

button:hover {
    background-color: #0868ac;
}

/*Sidebar*/
.sidebar h1 {
    font-size: 2rem;
    color: #D3DAD9;
}

.sidebar-group-heading  {
    font-size: 0.8rem;
    font-weight: 600;
    color: #D3DAD9;
    margin: 5px 0 5px 0;
}

.tasks-sidebar {
    margin-bottom: 25px;
}

.task-nav-item {
    color: #D3DAD9;
    cursor: pointer;
}

.projects-sidebar {
    margin-bottom: 5px;
}

.project-nav-item {
    color: #D3DAD9;
    cursor: pointer;
}

/*task app*/
.todo-heading {
    display: flex;
    flex-direction: row;
}

/*task card*/
.todo-card {
    border: 1px solid #715A5A;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: baseline;
    border-radius: 3px;
}

.completed {
    opacity: 0.5;
}

.completed > * {
    text-decoration: line-through;
}

.todo-id {
    color: #979393;
}

.todo-title {
    font-size: 1.3rem;
    margin: 0;
}

.todo-label {
    font-size: 0.9rem;
    margin-right: 5px;
    background-color: #e8e8e8;
    padding: 5px;
    border-radius: 5px;
}

.todo-due-date {
    margin-left: auto;
}

.todo-priority {
    width: 50px;
}

.todo-priority.high {
    color: red;
}

.todo-priority.med {
    color: orange;
}

.todo-priority.low {
    color: green;
}

.todo-labels {
    width: 60px;
}

/*Task form*/
dialog {
    border: none;
    width: 50%;
    min-width: 400px;
}

.add-todo-form {
    display: grid;
}

.add-todo-form > input {
    margin-bottom: 10px;
}

.add-todo-form > fieldset {
    margin-bottom: 10px;
}

.add-todo-form > button {
    margin-bottom: 10px;
}

.add-todo-form > select {
    margin-bottom: 10px;
}